@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --primary: #16215b;
    --secondary: #f472b6;
    --button: #0070FA;
    --light-bg: #f3f6fb;
    --radius-large: 30px;
    --radius-medium: 24px;
    --radius-small: 16px;
    --gap: 20px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

body {
    padding-inline: 25px;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* NAVBAR */
header {
    background: #fff;
    padding: 20px 0;
    padding-bottom: 44px;

    .nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--primary);

        nav {
            box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.2);
            padding: 20px;
            border-radius: 50px;
            border: 1px solid #cecece;
            padding-block: 20px;

            a {
                color: var(--primary);
                padding: 15px 20px;
            }

            a.active {
                background-color: var(--button);
                color: #fff;
                border-radius: var(--radius-large);
                padding: 15px 20px;
            }


        }

        .logo {
            position: relative;

            .UX {
                color: var(--button);
                position: absolute;
                bottom: 80%;
                left: 100%;
                translate: -100%;
                font-size: small;
                font-weight: 700;
            }

        }

        nav a:hover {
            color: #fff;
            background-color: var(--button);
            border-radius: var(--radius-large);
            padding: 15px 20px;
        }

        .btn-header {
            background: var(--button);
            color: #fff;
            border: none;
            padding: 20px 20px;
            border-radius: var(--radius-large);
            cursor: pointer;
        }

    }

    .btn-header:hover {
        background: var(--primary);
    }

}


/* HERO */
main {
    background: var(--primary);
    color: white;
    position: relative;
    width: 100%;
    height: 630px;
    border-radius: var(--radius-large);

    .hero {
        align-items: center;

        h1 {
            font-size: 250px;
            text-align: center;
            color: #DBECFF;
        }

        p {
            max-width: 350px;
            position: absolute;
            left: 70px;
            top: 70%;

        }

        img {
            width: 455px;
            position: absolute;
            left: 50%;
            bottom: 7%;
            translate: -50%
        }

        .btn-secondary {
            background: #f472b6;
            color: white;
            border: none;
            padding: 12px 22px;
            border-radius: var(--radius-medium);
            cursor: pointer;
            position: absolute;
            left: 80%;
            top: 70%;

        }

        .btn-secondary:hover {
            transform: translateY(-3px);
        }

    }
}


/* CARDS */
.cards {
    min-height: 590px;
    width: 100%;
    padding: 60px 0;
    border-radius: var(--radius-medium);
    translate: 0 -50px;
    background-color: #F2F5F9;

    .card-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap);

        .card {
            padding: 70px 50px;
            border-radius: var(--radius-medium);
            color: var(--primary);
            max-width: 300px;
            min-height: 360px;
            transition: 0.3s;
            flex-wrap: wrap;

            img {
                translate: 40% 35%;
            }

        }

        h3 {
            padding-bottom: 20px;
        }

        .yellow,
        .green,
        .pink,
        .blue {
            padding: 30px 20px;
        }

        .yellow {
            background: #F0DA6A;

        }

        .green {
            background: #A0E2E1;
        }

        .pink {
            background: #E7C2D4;
        }

        .blue {
            background: #93BDF7;
        }

        .card:hover {
            transform: translateY(-15px);
        }

    }

    .slider-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
        position: absolute;
        left: 75%;
        bottom: 10%;

        .circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid #d6dbe6;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            color: #a0a9bc;
            cursor: pointer;
        }

        .dots {
            display: flex;
            gap: 8px;
        }

        span {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #cfd6e4;

        }

        .active {
            width: 40px;
            border-radius: 10px;
            background: #1C6EF2;
        }
    }


}


/* SOLUTION */
.solution {
    margin-top: 20px;
    display: flex;
    gap: 60px;
    align-items: center;
    background-color: #F2F5F9;
    height: 630px;
    max-width: 100%;
    border-radius: 30px;



}

.solution img {
    width: 100%;
    border-radius: 24px;
    height: 500px;

}

.solution-text {
    h4 {
        display: inline-block;
        text-align: center;
        width: 100px;
        padding: 10px 7px;

        border-radius: var(--radius-small);
        border: 2px solid transparent;

        background:
            linear-gradient(white, white) padding-box,
            linear-gradient(136deg, #18E4A1, #0070FA) border-box;

        color: var(--primary);

    }

    h2 {
        color: var(--primary);
        max-width: 650px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    p {
        max-width: 600px;
        color: #5D6A85;
        padding-bottom: 20px;
    }

    .btn-solution {
        background: var(--button);
        color: #fff;
        border: none;
        padding: 12px 20px;
        border-radius: var(--radius-medium);
        cursor: pointer;
    }

}

/* PROCESS */
.process {
    padding: 80px 0;

    .section-title {
        text-align: center;
        max-width: 800px;
        margin: auto;
        margin-bottom: 60px;
        color: var(--primary);
        font-weight: 800;
        font-size: 32px;

        img {
            vertical-align: middle;
        }
    }

    .process-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        align-items: stretch;

        .left-process {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .steps {
            display: grid;
            gap: 20px;
        }

    }

    .pic-side {
        background-color: #F0DA6A;
        max-width: 540px;
        height: 400px;
        position: relative;
        border-radius: 60px;
        padding: 50px 10px;

        .text-in-pic {
            img {
                /* width: 510px; */
                width: 100%;
            }
        }

        .pic-intext {
            position: absolute;
            left: 50%;
            bottom: 0;
            translate: -50% 4px;
        }

    }

    .steps details {
        background: #F2F5F9;
        max-width: 700px;
        padding: 20px;
        margin-bottom: 15px;
        border-radius: var(--radius-medium);
        color: var(--primary);
        position: relative;

    }

    details[open] {
        background-color: #93BDF7;

    }

    .active {
        color: var(--primary);
        background-color: #93BDF7;

    }

    summary::marker {
        display: none;
    }

    summary::after {
        content: "^";
        position: absolute;
        right: 20px;
        top: 0;
        overflow: hidden;
        rotate: 180deg;
        font-size: 30px;
        font-weight: 200;
        cursor: pointer;
        transition: 0.5s;

    }

    summary {
        list-style: none;
        cursor: pointer;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    details[open] summary::after {
        content: "^";
        rotate: 360deg;
        font-size: 30px;
        top: 20px;
        transition: 0.5s;
    }

    .answer {
        padding-top: 10px;
        font-weight: 500;
    }

}


/* WHY */
.why {
    padding: 40px 0;
    background-color: #F2F5F9;

    .title-why {
        text-align: center;
        max-width: 800px;
        margin: auto;
        margin-bottom: 60px;
        max-width: 1000px;

        h2 {
            margin-bottom: 10px;
            color: var(--primary);
            font-size: 30px;
        }

        p {
            color: #5D6A85;
            /* text-wrap: balance; */
        }

    }
}

.why-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.why-card {
    padding: 50px 5px;
    border: 2px solid var(--primary);
    border-radius: var(--radius-medium);
    text-align: center;
    position: relative;
    line-height: 1.5;
    margin-bottom: 30px;
    background-color: #fff;
}

.active {
    background: var(--button);
    color: white;

    .number {
        position: absolute;
        display: block;
        font-size: 25px;
        border: 4px solid;
        border-radius: 50px;
        background-color: var(--button);
        width: 60px;
        height: 60px;
        text-align: center;
        position: absolute;
        top: -20px;
        left: 50%;
        translate: -50% -8px;
        font-weight: 400;
        padding: 10px
    }
}

.number {
    display: block;
    font-size: 25px;
    border: 5px solid #F2F5F9;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    text-align: center;
    position: absolute;
    top: -30px;
    left: 50%;
    translate: -50% -3px;
    font-weight: 400;
    padding: 10px;
    background-color: white;

}

/* FAQ */
.faq {
    color: var(--primary);
    padding-block: 40px;

    .section-title {
        text-align: center;
        padding-bottom: 40px;
        font-weight: 800;
        font-size: 32px;

    }

    details {
        margin: auto;
        background: #e5e7eb;
        padding: 20px;
        margin-bottom: 15px;
        border-radius: var(--radius-small);
        max-width: 1000px;
        position: relative;
        font-weight: 800;

    }


    summary::marker {
        display: none;
    }

    summary {
        list-style: none;
        cursor: pointer;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    summary::after {
        content: "^";
        position: absolute;
        right: 20px;
        top: 0;
        overflow: hidden;
        rotate: 180deg;
        font-size: 30px;
        font-weight: 200;
        cursor: pointer;
        transition: 0.9s;

    }

    details[open] summary::after {
        content: "^";
        rotate: 360deg;
        font-size: 30px;
        top: 20px;
        transition: 0.5s;
    }

    .answer {
        padding-top: 10px;
        font-weight: 500;
    }
}

/* FOOTER */
.footer {
    background: var(--primary);
    color: white;
    padding: 60px 0;
    border-radius: var(--radius-medium);
}

.footer-content {
    display: flex;
    justify-content: space-between;


    span,
    h4 {
        color: #18E4A1;
    }

    h3,
    h4 {
        padding-bottom: 60px;
    }

    p {
        padding-bottom: 18px;
        font-weight: 200;

        a {
            color: #fff;
        }
    }

    .links a {
        display: inline-block;
        color: #DAEAFF;
        padding: 10px;
        padding-bottom: 50px;
        font-size: 25px;
    }

    .footer-p {
        width: 400px;
    }

    .button {
        display: inline-block;
        background: var(--button);
        color: #fff;
        padding: 13px 25px;
        border-radius: var(--radius-medium);
        cursor: pointer;
        margin-top: 70px;
        margin-right: 40px;
    }

    .contact {

        .fa-solid,
        .fa-regular {
            color: #18E4A1;
        }
    }

    .logo-f {
        position: relative;
        max-width: fit-content;

        .UX {
            color: #18E4A1;
            position: absolute;
            bottom: 100%;
            left: 100%;
            translate: -100%;
            font-size: small;
            font-weight: 700;
        }


    }

}
.preloader {
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at center, #111827 0%, #0b1120 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.8s ease, visibility 0.8s ease;
    animation: hidePreloader 1.5s ease forwards;
    animation-delay: 5s;
}

.preloader.hide {
    opacity: 0;
    visibility: hidden;
}

.preloader-inner {
    text-align: center;
}

.logo-text {
    font-size: 42px;
    font-weight: 800;
    letter-spacing: 8px;
    color: white;
    position: relative;
    overflow: hidden;
    animation: textReveal 1.4s ease forwards;
    filter: blur(8px);
    opacity: 0;
}
.logo-line {
    width: 0;
    height: 3px;
    margin: 20px auto 0;
    background: linear-gradient(90deg, #60a5fa, #93c5fd);
    border-radius: 5px;
    animation: lineGrow 1.5s ease forwards 0.8s,
        pulse 1.5s ease-in-out infinite 2s;
}

/* Animations */

@keyframes textReveal {
    0% {
        opacity: 0;
        transform: translateY(50px);
        filter: blur(4px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

@keyframes lineGrow {
    to {
        width: 180px;
    }
}

@keyframes pulse {

    0%,
    100% {
        box-shadow: 0 0 5px #60a5fa;
    }

    50% {
        box-shadow: 0 0 20px #93c5fd;
    }
}

@keyframes hidePreloader {
    to {
        opacity: 0;
        transform: translateY(-100%) scale(0.9);
        visibility: hidden;
    }
}



/* RESPONSIVE */
@media (max-width: 768px) {

    body {
        padding-inline: 10px;
    }

    /* NAVBAR */
    header .nav-content {
        flex-direction: column;
        gap: 20px;
    }

    header .nav-content nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    header .nav-content nav a {
        padding: 10px;
    }

    header .nav-content .btn-header {
        padding: 15px 20px;
    }

    /* HERO */
    main {
        height: auto;
        border-radius: var(--radius-medium);
        text-align: center;
        padding: 40px 10px;
    }

    main .hero h1 {
        font-size: 80px;
    }

    main .hero p {
        position: static;
        max-width: 100%;
        margin: 20px auto;
    }

    main .hero img {
        position: static;
        width: 80%;
        margin: 20px auto;
        display: block;
        translate: none;
    }

    main .hero .btn-secondary {
        position: static;
        margin: 20px auto;
        display: block;
    }

    /* CARDS */
    .cards .card-grid {
        grid-template-columns: 1fr;
        justify-items: center;
        min-height: 350px;
        flex-wrap: wrap;

    }

    .cards .card {
        padding: 40px 20px;
        max-width: 90%;
        min-height: 350px;
        flex-wrap: wrap;
    }

    .cards .slider-controls {
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        padding-bottom: 20px;
    }

    /* SOLUTION */
    .solution {
        flex-direction: column;
        gap: 20px;
        height: auto;
        padding: 20px;
    }

    .solution img {
        height: auto;
        width: 90%;
        margin: auto;
    }

    .solution-text {
        text-align: center;
        max-width: 100%;
    }

    /* PROCESS */
    .process .process-wrapper {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .process .pic-side {
        max-width: 100%;
        height: auto;
        padding: 20px 10px;
    }

    .steps details {
        max-width: 100%;
    }

    /* WHY */
    .why-grid {
        grid-template-columns: 1fr;
    }

    /* FOOTER */
    .footer-content {
        display: grid;
        align-content: center;
        gap: 30px;
        text-align: start;
    }

    .footer-p {
        width: 90%;
        text-align: justify;
    }

    .links a {
        font-size: 20px;
        padding: 5px;
    }

    .button {
        margin-top: 30px;
        margin-right: 0;
    }

}